<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="stylesheet" href="/css/material.blue-red.min.css">

<dom-module id="photo-tabs">
  <template>
    <style is="custom-style">
      :host {
        --paper-tab-ink: var(--paper-blue-500);
      }
      paper-tabs, paper-toolbar {
        background-color: #fff;
        color: var(--paper-blue-500);
        --paper-tabs-selection-bar-color: var(--paper-blue-500);
      }
      paper-tabs {
        max-width: 1200px;
        margin: 0 auto;
      }
      .support-card {
        width: 400px;
        margin: 16px auto;
      }

      .hidden {
        display: none;
      }
    </style>

    <div class="support-card mdl-cell mdl-card mdl-shadow--2dp hidden">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Custom Element Support</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>It looks like your browser doesn't support the new JavaScript features needed for Custom Elements. This demo app doesn't yet have proper polyfil integration. In the meantime please visit us again in Chrome v54+.</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.google.com/chrome/">
          Chrome
        </a>
        <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.mozilla.org/en-US/firefox/new/">
          Firefox
        </a> -->
        <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.opera.com/">
          Opera
        </a> -->
        <!-- TODO: Edge doesn't support Service Workers yet but will soon. -->
        <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.microsoft.com/en-us/windows/microsoft-edge">
          Edge
        </a> -->
      </div>
      <div class="mdl-card__menu">
      </div>
    </div>

    <paper-tabs selected="{{selected}}">
      <paper-tab>Nature</paper-tab>
      <paper-tab>New Zealand</paper-tab>
      <paper-tab>London</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selected}}">
      <div>
        <photo-stream client-id="9df26b67b558143fa29670ab7d4f02e8a87dec739e20cc95d1dfac3553dc9bf2" collection-id="327760"></photo-stream>
      </div>
      <div>
        <photo-stream client-id="9df26b67b558143fa29670ab7d4f02e8a87dec739e20cc95d1dfac3553dc9bf2" collection-id="280662"></photo-stream>
      </div>
      <div>
        <photo-stream client-id="9df26b67b558143fa29670ab7d4f02e8a87dec739e20cc95d1dfac3553dc9bf2" collection-id="485"></photo-stream>
      </div>
    </iron-pages>
  </template>

  <script>
    class PhotoTabs extends Polymer.Element {
      static get is() { return 'photo-tabs'; }

      static get properties() {
        return {
          selected: Number,
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
        if ('customElements' in window) {
          console.log('customElements supported');
        } else {
          document.querySelector('.support-card').classList.remove('hidden');
          document.querySelector('paper-tabs').classList.add('hidden');
          document.querySelector('iron-pages').classList.add('hidden');
        }
      }
    }

    customElements.define(PhotoTabs.is, PhotoTabs);
  </script>
</dom-module>
